name: Deploy to Cloudflare Pages and Workers

on:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint and Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: List files
        run: ls -R

  deploy-pages:
    name: Deploy to Cloudflare Pages
    runs-on: ubuntu-latest
    needs: lint
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: "brackenw3-dashboard"
          directory: "."
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: main

  deploy-worker:
    name: Deploy Cloudflare Worker
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Publish Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: 'VSCode_Projects/Cloudflare_Workers'
